header > input{
    display: none;
}
.hamburger{
    display:none;
}
.header{
    width: 100%;
    display: flex;
    margin: 0 ;
    box-shadow: 1px 1px 5px #a7a4a49c;
    justify-content:space-between ;
    background-color: white;
}

.header > nav{
    margin:0px 5%;
    height:60px;
    width:80%;
    position: absolute;
    right:0;
   
    
}
.headerlist{
    display: flex;
    margin:7.5px 0; 
    list-style-type: none;
    
    
}
nav > div{
 
    position: absolute;
    top:6px;
    right:0;
    

}


nav > div > i {
    padding:12px;
    cursor: pointer;
}



.links{
    text-align: end;
}

.headerlinks {
    color:black;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
    font-family:'Quicksand',sans-serif;
    width: 80px;
  }
  
 .headerlinks:after {    
   
    top:20px;  
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #eb282f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.headerlinks:hover:after { 
    width: 100%; 
    left: 0; 
  } 
   
header > nav > ul > li:nth-child(1) > a{
    margin: 24px 25px;
}

header > nav > ul > li:nth-child(2) > a{
    margin: 24px 25px 20px 0;
}

header > nav > ul > li:nth-child(3) > a{
    margin: 24px 25px 20px 0;
}

header > nav > ul > li:nth-child(4) > a{
    margin:15px 25px 20px 0;
}

header > nav > ul > li:nth-child(5) > a{
    margin:5px 20px 5px 0;
}

header > nav > ul > li:nth-child(6) > a{
    margin:15px 25px 20px 0;
}

header > nav > ul > li:nth-child(7) > a{
    margin:15px 0;
}

.links{
    text-align: left;
}
.checked.open .hamburger{
      transform: translateX(50px);
  }

  @media only screen and (max-width: 950px){
    .header{
        height:100%;
        width:auto; 
        display: none;
    }

  }
  @media only screen and (max-width: 650px){
    .headerlinks{
        padding-bottom: 15px;
        margin-left:15px;
        font-size: 1.2em;
        color:black;
    }
    
    
    header > nav > ul > li:nth-child(1) > a{
        margin: 20px 25px;
        text-align: left;
    }
    
    header > nav > ul > li:nth-child(2) > a{
        margin: 20px 25px;
    }

    header > nav > ul > li:nth-child(3) > a{
        margin: 20px 25px;
    }
    header > div{
       
        height: 40px;
        width : 30px; 
        position: absolute; 
       
        cursor: pointer;   
        z-index: 4;
        outline: none;
        transition: all 0.5s ease-in-out;
    }
    nav{
       min-width:300px;
        min-height:100vh; 
        display: none;
        z-index: 2;
        background-color: white;
        left:0;
        
    }
    .header > nav{
        margin:0px 0px;
        width: 100%;
       
       
    }
    header > div > div{
        display: block;
        width: 30px;
        height: 3px;
        background-color : black; 
        position: relative;
        right: 5%;
        z-index:3;
       
    }
    header > div >div::before{
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        position: relative;
        top: 20px;
        background-color: black;
        
    }
   
    header > div >div::after{
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        position: relative;
        top: 7px;
        background-color: black;
        
    }
   
    
   nav > ul{
       flex-direction: column;   
      
   }
   nav > ul > li{
      text-align: left;
      margin-right: 60px;
     
   }
   nav >ul > li >a{
       color:black;
       outline: none;
   }
    header > nav > div.social > li:nth-child(1) > li{
       display: flex;
       flex-direction: row;
   }

   nav >ul > li >a::after{
       height: 0;
   }
    header > nav > ul > li:nth-child(4) > a{
        padding: 15px 15px;
   }
   nav >div{
       
       left:4%;
       text-align: left;
       position: absolute;
       top:50%;
   }
   nav > div > i{
       
       padding-right: 15px;
       padding-top:10px;
   }
    header > nav > div > i:nth-child(1){
        padding-left: 0;
    } 
  }

