.propertywrapper{
    height:auto;
    width: 90%; 
    margin: 10px 0;
    border-radius:10px; 
    background-color:white;
}
.mapswrapper{
    display: flex;
}
.propertyimage{
    width:50%;
}
.leftwrapper{
    display:flex;
    width:55%;
}
.details{
    width:50%;
    padding:0 50px;
}
.propertymap{
    
  height: 400px;
  
}
.mapsss{
    width:90%;
    height:400px;

    margin: 0 5%;
}

@media only screen and (max-width: 850px){
.mapswrapper{
    flex-direction: column;
    padding-bottom: 10px;
}
.leftwrapper{
    width: 100%;
}
.propertyimage{
    width: 50%;
}
.details{
    padding-left: 50px;
}
.propertymap{
    width: 100%;
}
.mapsss{
    width:86%;
    height:200px;
    margin:0 2%;
    
   
}
}

@media only screen and (max-width: 650px){
    .propertyimage{
        width: 70%;
    }
}
